@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 1234px;
    margin: 0 auto;
}

header.header-sub {
    width: 100%;
    background-color: #ccc;
}

.list__item-header-top li {
    cursor: pointer;
}

.list__item-header-top li:hover {
    text-decoration: underline;
}

.list__item-header-top li span {
    font-weight: bold;
}

header {
    border: 1px solid #ccc;
}

.list__item-header-top {
    padding: 15px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}


header>.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

.list__navbar>li {
    cursor: pointer;
}

.list__navbar>li:hover {
    border-bottom: 3px solid #378694;
}

.selects-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: 300;
}

.selects-user li {
    cursor: pointer;
}

/*  */


.section__goto-page {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #00000091;
    padding: 20px 0px;
}

.section__goto-page span {
    text-decoration: underline;
    cursor: pointer;
}

/*  */

.section__product {
    margin: 60px 0px;
}

.section__product > .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "left left center center center center center center right right right right";
    gap: 40px;
}

.section__product-left {
    grid-area: left;
}

.section__product-center {
    grid-area: center;
    position: relative;
}

.section__product-right {
    grid-area: right;
}

.list__img-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.list__img-product li img , .img__product{
    width: 100%;
    object-fit: cover;
}
.prev-img, .next-img {
    position: absolute;
    top: 50%;
    padding: 15px;
    background-color: rgba(146,145,145,0.75);
    color: #00000078;
    transform: translateY(-50%);
    transition: 0.3s linear;
    cursor: pointer;
}

.prev-img:hover, .next-img:hover {
    background-color: rgba(146,145,145,1);
    color: #000;
}

.prev-img {
    left: 0;
}

.next-img {
    right: 0;
}

/*  */


.user-rate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list__rate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.list__rate li {
    cursor: pointer;
}

.list__rate li.active {
    color:rgb(245, 221, 10);
}

.total-rate {
    font-size: 12px;
}


/*  */

.product-name {
    font-size: 40px;
    font-weight: bold;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price > span {
    font-size: 25px;
    font-weight: bold;
}


/*  */

.section__product-right-option {
    margin: 20px 0px;
}

.option__color {
    padding: 15px 0px;
    border-top: 1px solid #c4c4c4;
}

.option-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.list__color-select {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.item__color-select {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.item__color-select:first-child {
    background-color: #444;
}

.item__color-select:nth-child(2) {
    background-color: #595B5B;
}
.item__color-select:nth-child(3) {
    background-color: #000;
}
.item__color-select:nth-child(4) {
    background-color: #E39B96;
}
.item__color-select:nth-child(5) {
    background-color: #F6E5B3;
}
.item__color-select:nth-child(6) {
    background-color: #526A62;
}
.item__color-select:nth-child(7) {
    background-color: #4C7CBC;
}
.item__color-select:last-child {
    background-color: #333C4A;
}

.list__size-select {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 10px 0px;
}

.item__size-select {
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    border: 1px solid #c4c4c4;
    transition: .3s linear;
    cursor: pointer;
}

.item__size-select.active {
    background-color: #000;
    color: #fff;
}

.item__size-select:hover {
    background-color: #000;
    color: #fff;
}

.select-quanlity {
    width: 150px;
    padding: 5px 0px;
    font-size: 18px;
    margin: 10px 0px;
}

.button-add {
    width: 100%;
    padding: 15px 0px;
    background-color: red;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.button-add:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.list__option-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    gap: 15px;
}

.item__option-add {
    width: 100%;
    height: 100%;
}

.item__option-add button {
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 600;
    background-color: transparent;
    text-transform: uppercase;
    height: 100%;
    transition: .3s linear;
    cursor: pointer;
}


.item__option-add button:hover {
    background-color: #4C7CBC;
    color: #fff;
    border-color: #4C7CBC;
}

/*  */

.section__outfit-title {
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0px;
}

.list__outfit {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0px;
}

.outfit img {
    width: 100%;
    object-fit: cover;
}


/*  */


footer {
    margin: 80px 0px 0px;
    padding: 80px 0px;
    background-color: #F4F4F4;
}

.list__item-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.name__item-footer {
    font-weight: 600;
    font-size: 18px;
}

.item-footer ul li {
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0px;
    cursor: pointer;
}


.list__icon-social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.list__icon-social li {
    color: #fff;
    background-color: #c4c4c4;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.list__icon-social li i {
    font-size: 20px;
}